<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="nomeFantasia">Nome Fantasia</label>
                            <input type="text" class="form-control" id="nomeFantasia" placeholder="Nome Fantasia">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="inscricao">Inscrição</label>
                            <input type="text" class="form-control" id="inscricao" placeholder="Inscrição">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="razaoSocial">Razão Social</label>
                            <input type="email" class="form-control" id="razaoSocial" placeholder="Razção Social">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="email">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="fone1">Fone 1</label>
                            <input type="text" class="form-control" id="fone1" placeholder="fone 1">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="fone2">Fone 2</label>
                            <input type="text" class="form-control" id="fone2" placeholder="fone 2">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="CEP">CEP</label>
                            <input type="text" class="form-control" id="CEP" placeholder="CEP">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="logradouro">Logradouro</label>
                            <input type="text" class="form-control" id="logradouro" placeholder="Logradouro">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="numero">Número</label>
                            <input type="text" class="form-control" id="numero" placeholder="numero">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="bairro">Bairro</label>
                            <input type="text" class="form-control" id="bairro" placeholder="bairro">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="complemento">Complemento</label>
                            <input type="text" class="form-control" id="complemento" placeholder="Complemento">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="cidade">Cidade</label>
                            <input type="text" class="form-control" id="cidade" placeholder="Cidade">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="uf">UF</label>
                            <input type="text" class="form-control" id="uf" placeholder="UF">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="observacao">Observação</label>
                            <textarea class="form-control" placeholder="Observação"></textarea>
                        </div>
                    </div>
                </div>
                <button style="text-align: right" type="submit" class="btn btn-success"><i class="nb-checkmark"></i>Salvar</button>
                <button style="text-align: right" type="submit"><i class="nb-arrow-retweet"></i>Importar/Atualizar</button>
                <button style="text-align: right" type="submit"><i class="nb-info"></i>log</button>
            </nb-card-body>
        </nb-card>
    </div>
</div>